@use '../base/var.scss';

.footer {

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 24px;
    }

    &__logo {
        max-height: 32px;
        height: 100%;
    }

    &__content {
        display: flex;

        &__item {
            display: inline-block;
            padding: 4px;
            color: var.$colorTextFooter;
            margin: 0 4px;

            &__link {
                text-decoration: none;
                color: var.$colorTextFooterLink;
                transition: color 0.2s ease-in-out;

                &:hover {
                    color: lighten(var.$colorTextFooterLink, 10%);
                    transition: color 0.2s ease-in-out;
                }
            }
        }
    }
}