@use '../base/var.scss';

.hero {
    background-image: url('../images/hero/dune_hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    // @media (max-width: 875px) {
    //     background-size: contain;
    // }

    @media (max-width: 600px) {
        background-size: contain;
    }

    &__container {
        background: linear-gradient(100deg, var.$colorPrimary, hsla(217, 100%, 3%, 0.9), 50%,transparent), linear-gradient(to top, var.$colorPrimary, 10%, transparent);
        min-height: 90vh;
        padding: 0 72px;
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        @media (max-width: 875px) {
            padding: 0 44px;
        }

        @media (max-width: 600px) {
            padding: 0 24px;
        }
    }

    &__logo {
        align-self: flex-end;
        width: 95px;
        margin-top: 24px;
        margin-bottom: 200px;

        @media (max-width: 875px) {
            margin-bottom: 24px;
        }

        @media (max-width: 600px) {
            margin-bottom: 24px;
        }
    }

    &__info {
        width: 100%;

        &__extra {
            margin-bottom: 32px;
            line-height: 1.75rem;
            width: 100%;
        }

        &__details {
            max-width: 1200px;
            width: 100%;

            @media (max-width: 600px) {
                display: flex;
                flex-direction: column;
            }

            &__title {
                margin-bottom: 52px;
            }

            &__desc {
                max-width: 825px;
                width: 100%;
                margin-bottom: 16px;

                @media (max-width: 1024px) {
                    max-width: 620px;
                }

                @media (max-width: 600px) {
                    order: 5;
                }
            }

            &__class {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                column-gap: 8px;
                row-gap: 8px;
                max-width: 520px;
                width: 100%;
                margin-bottom: 16px;

                @media (max-width: 600px) {
                    order: 6;
                }

                &__badges {
                    display: flex;
                    align-items: center;
                    column-gap: 4px;
                    max-width: 265px;
                    width: 100%;

                    &__badge {
                        display: block;
                        background-color: var.$colorTerciary;
                        border-radius: 3px;
                        padding: 3px 7px;
                        font-weight: 700;
                        font-size: 1rem;
                        line-height: 1rem;
                        text-transform: uppercase;
                    }

                    &__badgesvg {
                        display: flex;
                        font-weight: 500px;
                        font-size: 1.25rem;
                        background-color: var.$colorTerciary;
                        border-radius: 3px;
                        padding: 3px;
                        
                        .svg_sub {
                            display: flex;
                            height: 1rem;
                            width: 1rem;
                            padding: 0;
                        }

                        .svg_ad {
                            display: flex;
                            height: 1rem;
                            width: 2.375rem;
                            padding: 0;
                        }
                    }
    
                    img {
                        height: 1.375rem;
                        width: 1.375rem;
                    }
                }
            }

            &__genre {
                margin-bottom: 32px;

                @media (max-width: 600px) {
                    order: 7;
                }
            
                &__list {
                    display: flex;

                    &__item {
                        list-style: none;
                    }

                    .dot {
                        list-style: none;
                        margin: 0 8px;
                        padding-bottom: 7.2px;
                        font-family: 'Ember_Display';
                        font-size: 1.125rem;
                        line-height: 1.125rem;
                        color: var.$colorTextDark;
                    }
                }
            }

            &__actions {

                &__warning {
                    display: flex;
                    align-items: center;
                    margin-bottom: 16px;

                    span {
                        margin-right: 8px;
                    }

                    span path {
                        color: #1a98ff;
                    }
                }

                &__buttons {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 16px;
                    row-gap: 24px;
                    max-width: 1200px;
                    width: 100%;

                    @media (max-width: 600px) {
                        justify-content: center;
                    }

                    &__rent {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        column-gap: 12px;
                        row-gap: 12px;
                        flex-wrap: wrap;
                        max-width: 740px;
                        width: 100%;

                        button:nth-child(2) {
                            max-width: 220px;
                            width: 100%;
                        }

                        button:nth-child(3) {
                            max-width: 190px;
                            width: 100%;
                        }

                        @media (max-width: 600px) {
                            button {
                                display: block;
                                width: 100%;
                                text-align: center;
                            }

                            button:nth-child(2) {
                                max-width: none;
                            }
    
                            button:nth-child(3) {
                                max-width: none;
                            }
                        }
                    }

                    &__act {
                        display: flex;
                        align-items: center;
                        column-gap: 8px;
                        max-width: 426px;
                        width: 100%;

                        @media (max-width: 600px) {
                            justify-content: center;
                        }

                        span, svg {
                            width: 2.0625rem;
                            height: 2.0625rem;
                        }

                        label {
                            display: none;
                        }
                    }
                }

                &__disclamer {
                    margin-bottom: 16px;

                    p {
                        font-size: 1.125rem;
                        line-height: calc(1.125rem * 1.389);
                        letter-spacing: 0.4px;
                    }
                }
            }
        }
    }
}
